<%= render 'shared/flash' %>
<%= link_to new_plan_path, class: "btn btn-primary mb-2" do %>
  <%= icon("fas", "plus", "Nuevo Plan") %>
<% end %>
<div class="table-responsive">
  <table id="plans-datatable" data-turbo="false" class="table table-striped table-bordered nowrap" data-controller="loadPlans destroyPlan" data-source="<%= plans_path(format: :json) %>" style="width: 100%">
    <thead>
    <tr class="table-active">
      <th data-priority="0"></th>
      <th data-priority="1">Nombre</th>
      <th data-priority="3">Precio</th>
      <th data-priority="4">Número de días</th>
      <th data-priority="2">Acciones</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>